.search-container {
  margin: 50px 30px 30px 50px;
  /* width: 320px; */
  height: 47px;
  border: 1px solid #6a536a;
  border-radius: 26px;
  display: flex;

  align-items: center;
}

.lupa {
  width: 20px;
  height: 22.35px;
  margin-left: 17px;
  margin-right: 17px;
}
.search-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  height: 47px;

  border-radius: 0px 26px 26px 0px;
  color: #6a536a;
}
.search-input::placeholder {
  color: #6a536a;
  align-items: center;
}
