.slider-container {
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  left: 18px;
}
.slider-container h2 {
  font-weight: 700;
}
.slider {
  display: flex;
  cursor: grab;
  flex-wrap: wrap;
  position: relative;
}

.movie-poster {
  height: 121px;
  height: 121px;
  width: 96px;
  margin-left: 15px;
  border-radius: 10px;
}
